.button-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    max-width: 300px; 
    margin: 0 auto;
  }
  
  .button-container button {
    background-color: #2C3E50; 
    color: #ECF0F1; 
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button-container button:hover {
    background-color: #34495E; 
  }
  .center, .center2 {
      text-align: center;
  } 